*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container-galeria{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
img{
    width: 20%;
}
img:hover{
    opacity: 0.5;
}
@media (max-width: 360px){
    .container-galeria{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    img{
        
    width: 100%;
    }
}