*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    margin-left: 3.5vw;
    margin-top: 80px;
    width: 90vw;
    border: 1px solid #121212;
}

.container-galeria{
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    justify-content: space-between;
    position: relative;
    overflow-y: scroll;
}
img{
    width: 40%;
}
img:hover{
    opacity: 0.5;
}
/* media query Ipad Pro 1024x */
@media (max-width: 1024px){
    .container-galeria{
        display: flex;
        flex-flow: crow wrap;
        align-items: center;
        gap: 5px;
    }
    img{
        
    width: 50%;
    }
}
@media (max-width: 768px){
    .container-galeria{
        display: flex;
        flex-flow: column wrap;
        gap: 5px;
    }
    img{
        
    width: 100%;
    }
}
