body{
    margin: 0 auto;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container-galeria{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
img{
    width:320px;
    height:205px;
}
@media screen and(min-width: 780px){
    .container-galeria{
        display: grid;
        grid-template-rows: 20% 20% 20% 20% 20%;
    }
}