*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container-galeria{
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: repeat(5,20%);
    grid-column-gap: 5px;
}
img{
    width:100%;
}
@media (max-width: 360px){
    .container-galeria{
        display: grid;
        grid-template-rows: repeat(5,20%);
        grid-template-columns: auto;
        justify-items: stretch;
        align-items: stretch;
        grid-row-gap: 5px;
    }
}