.container-galeria{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 0;
}
img{
    width:320px;
    height:205px;
}
@media screen and(max-width: 780px){
    .container-galeria{
        display: grid;
        grid-template-rows: 20% 20% 20% 20% 20%;
    }
}